@import 'https://fonts.googleapis.com/css?family=Galada';
@specialtyFont: 'Galada', cursive;

.font-specialty
{
    font-family: @specialtyFont !important; // so that this ALWAYS applies no matter what SLDS says
    font-weight: 400 !important;
}
