@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:300';
@specialtyFont: 'Josefin Sans', sans-serif;

.font-specialty
{
    font-family: @specialtyFont !important; // so that this ALWAYS applies no matter what SLDS says
    font-weight: 300 !important;
}
