@import 'https://fonts.googleapis.com/css?family=Raleway:100i,700i,300,700,900';
@specialtyFont: 'Raleway', sans-serif;

.font-specialty-title
{
    font-family: @specialtyFont !important; // so that this ALWAYS applies no matter what SLDS says
    font-weight: 100 !important;
    font-style: italic !important;
}
