.THIS
{
    @import '../_base/components-common';
    h1,
    h2,
    h3,
    h4,
    h5
    {
        font-family: Sabon LT W01 Roman, serif;
        font-weight: 400;

        color: #000;
    }

    h1
    {
        font-size: 54px;

        letter-spacing: -1.62px;
    }
    h2
    {
        font-size: 38px;

        letter-spacing: -1.14px;
    }
    h3
    {
        font-family: FrutigerLTW01-87ExtraBk, sans-serif;
        font-size: 32px;
        line-height: 30px;

        letter-spacing: -1.6px;
        text-transform: uppercase;
    }
    h4
    {
        font-family: FrutigerLTW01-67BoldCn, sans-serif;
        font-size: 28px;
    }
    h5
    {
        font-family: FrutigerLTW01-45Light722105, sans-serif;
        font-size: 16px;
        line-height: 16px;

        letter-spacing: 2.56px;
        text-transform: uppercase;

        color: #666;
    }
}
