// To override managed 7S Component styling.
.productPaginationBtn button
{
    padding: .75rem 1.5rem;
}
/* Disabled Buttons */
.slds-button_brand[disabled],
.slds-button--brand[disabled]
{
    color: #000;
    background: #eee;
}
