@import '../_base/components-common';
.THIS
{
    position: relative;

    .slds-popover
    {
        position: absolute;

        min-width: 300px;

        &.slds-nubbin--bottom-left
        {
            bottom: 2em;
            left: -1em;
        }

        // Add more of these... .slds-nubbin--left, .slds-nubbin--left-top, .slds-nubbin--left-bottom, .slds-nubbin--top-left, .slds-nubbin--top-right, .slds-nubbin--right-top, .slds-nubbin--right-bottom, .slds-nubbin--bottom-left, .slds-nubbin--bottom-righ
    }
}
